.display_small {
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translate(0%,-50%);
    -ms-transform: translate(-0%,-50%);
}
.w3-bar-block{
	position: fixed;
    width: 200px;
    padding-top: 10px;
    text-align: left;
    border: none;
    white-space: normal;
    outline: 0; 
	z-index: 3;
	background-color: white;
}
/*Body*/
.w3-top, .w3-bottom {
    position: fixed;
    width: 100%;
    z-index: 1;
}
.w3-display-left {
    display: -ms-flexbox; 
  display: flex;
    top: 45%;
    left: 0%;
    right: 0%;
    transform: translate(0%,-40%);
}
body, html {
  margin-top: 3.5%;
  line-height: 1.5;
  display: block;
  overflow-x: hidden; 
}
/*myNavbar*/
.myNavbar{
background-color: white;
z-index: 4;
}

/*Registration and authorization form*/
.input-container {
  display: -ms-flexbox; 
  display: flex;
  width: 100%;
  margin-bottom: 15px;
}
.input-field {
  width: 100%;
  padding: 10px;
  outline: none;
}
.input-field:focus {
  border: 1.7px solid #76bd42;
}
.form_registre{
max-width:550px;
margin:auto;
padding-top: 70px;
padding-bottom: 90px;

}
.form_autorizate{
max-width:550px;
margin:auto;
padding-top: 80px;
padding-bottom: 100px;
}
.margin_form{
margin-right: 10px;
}
/*Buttons*/
#myBtn {
  display: -ms-flexbox; 
  display: flex;
  position: fixed;
  z-index: 4;
  bottom: 20px;
  right: 20px;
  outline: none;
  border: none;
  background-color: grey;
  color: green;
  padding: 18px 20px 18px 20px;
  border-radius: 100px;
}
#myBtn:hover {
  background-color: #262626;
  border: none;
}
.myBtn1{
background-color: black;
color: white;
font-family: Times, Times New Roman, serif;
outline: none;
border: none;
font-size: 16px;
padding: 16px 32px;
}
.myBtn1:hover {
background-color: #76bd42;
}
#myBtn1_padding{
font-size: 20px;
padding: 24px;
padding-right: 30px;
padding-left: 30px;
}
.myBtn2{
background-color: #76bd42;
color: white;
font-family: Times, Times New Roman, serif;
outline: none;
border: none;
width: 100%;
padding: 6px;
}
.myBtn2:hover {
background-color: #262626;
}
.myBtn3{
background-color: black;
color: white;
font-family: Times, Times New Roman, serif;
outline: none;
border: none;
width: 100%;
padding: 14px;
}
.myBtn3:hover {
background-color: #262626;
}
/*Buttons - view*/
.container {
  position: relative;
  width: 100%;
}
.container:hover .image {
  opacity: 0.3;
}
.container:hover .middle {
  opacity: 1;
}
.middle {
  font-size: 30px;
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.text {
  background-color: #76bd42;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
  outline: none;
}
/*Icon*/
.icon{
font-size: 20px;
padding-left: 30px;
}
.myIcon {
border: 1px solid black;
padding: 14px;
}
#myBorder1{
padding-right: 270px;
}
#myBorder2{
padding-right: 50px;
}
/*Container with text*/

.container_top{
padding-top: 70px;
color: white;
}
.container_bottom{
padding-bottom: 100px;
}
.container_width{
	min-width: 420px;
}

/*Container with image and quotes*/
.container_quotes {
  width: 100%;
  position: relative;
  margin: auto;
}
.mySlides {display: none;}
img {vertical-align: middle;}
.container_dot {
  color: #A9A9A9;
  font-size: 48px;
  z-index: 2;
  padding-right: 350px;
  background-color: #FFFFFF;
  padding-left: 30px;
  padding-right: 30px;
}
.size{
font-size: 24px;
color: #76bd42;
}
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.margin{
margin-top: 3%;
}
.padding_quotes{
background-color: #262626;
font-family: Times, Times New Roman, serif;
font-size: 20px;
padding-top: 52px;
padding-bottom: 52px;
padding-right: 250px;
padding-left: 100px;
max-width:800px;
min-width:800px;
}
.color_text{
	color: #76bd42;
}
/*Scrolling image*/
.image_scrolling {
  background: url('../image/scrolling.jpg') no-repeat center fixed;
  background-size: 100%;
   padding: 200px 0 67px 0;
}
.image_scrolling_small {
  background: url('../image/scrolling.jpg') no-repeat center fixed;
  background-size: absolute;
  padding: 50px 0 50px 0;
}
/*Text*/
h4 {
	color:white;
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 0;
	font-family: Times, Times New Roman, serif;
	letter-spacing: .025em;
}

h1, h3, h6, p, b {
	margin-top: 0;
	margin-bottom: 0;
	font-weight: 0;
	font-family: Times, Times New Roman, serif;
	letter-spacing: .025em;
}

h1{
	font-size: 32px;
	line-height: 1.25;
	font-weight: bold;
}
h3{
	font-size: 24px;	
}
.line{
	border-bottom: 1px solid white;     
	width: 130px;
	margin-left: auto;
	margin-right: auto;
}
h6{
	font-size: 12px;
}
p {
	font-size: 16px;
}
/*Tag <a>*/
a {
    text-decoration: none; 
   }
a:hover {
  color: #76bd42; 
}
a.active{
  color: #76bd42;
  background-color: #FFFFFF;
}
a.active:hover{
color: #262626;
}
.active {
  background-color: #717171;
}
/*Padding*/
.top{
padding-top: 100px;
}
.bottom{
padding-bottom: 113px;
}
.padding_left {
  padding-left: 260px;
}
.padding_left_small {
  padding-left: 60px;
}
.padding_footer {
  display: block; 
  margin-left: auto;
  margin-right: auto;
}
.padding_top{
padding-top: 30px;
}

/*Footer*/
#myFooter{
position: fixed;
bottom: 0;
padding-top: 2px;
padding-bottom: 24px;
background-color: #262626;
color:white;
width: 100%;
}
#footer{
padding-top: 2px;
padding-bottom: 24px;
display: absolute;
background-color: #262626;
color:white;
bottom: 0;
width: 100%;
}
.colorr{
	background-color: #404040;
	display: absolute;
}
.border1{
	border: 1px solid #262626;
	padding: 14px 21px 14px 21px;
}
.border2{
	border: 1px solid #262626;
	padding: 14px 20px 14px 20px;
}
.border3{
	border: 1px solid #262626;
	padding: 18px;
}
